<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BlazeDemo Test Suite" parallel="false">

    <test name="Flight Booking Tests">
        <classes>
            <!-- Add your test classes here -->
            <class name="tests.PurchaseFlightTest"/>
        </classes>
    </test>

</suite>
